<?xml version="1.0" encoding="UTF-8"?>
<document
  xmlns="http://maven.apache.org/XDOC/2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

  <properties>
    <title>${project.name}</title>
  </properties>

  <body>
    <subsection name="${project.name}">
      <p>
        The <b>${project.name}</b> package implements a system for
        efficiently accessing packed record values. It provides a
        simple schema language for defining types and can produce
        efficient "flyweight" <tt>ByteBuffer</tt>-backed record types
        in Java.
      </p>
      <pre>
(record OpenGL888 [
  (field r [integer unsigned-normalized 8])
  (field g [integer unsigned-normalized 8])
  (field b [integer unsigned-normalized 8])
])

(packed OpenGL565 [
  (field r [integer unsigned-normalized 5])
  (field g [integer unsigned-normalized 6])
  (field b [integer unsigned-normalized 5])
])
      </pre>
    </subsection>
    <subsection name="Features">
      <ul>
        <li>Generate <tt>ByteBuffer</tt>-backed record types in Java, using a cursor abstraction for allocation-free access to large off-heap arrays.</li>
        <li>Simple command-line frontend for checking schemas and producing Java sources.</li>
        <li>Maven plugin for producing Java sources during Maven builds.</li>
        <li>ISC license.</li>
      </ul>
    </subsection>
  </body>

</document>
